body, html {
    height: 100%;
    margin: 0;
}

h3 {
    text-align: center;
}

#root {
    /* The image used */
    background-image: url("gmaps.png");

    /* Full height */
    height: 500px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
}

.navLink {
    font-size: 1em;
    margin-top: 20px;
}

.navLink:hover {
    text-decoration: underline;
    color: white;
}

.mainbox {
    max-width: 400px;
    height: 60px;
    margin-top: 250px;
}

.locationForm {
    display: inline;
}

.mdl-textfield {
    margin-right: 5px;
}

.mapArea {
    margin-top: 150px;
}

.container.topCards {
    margin-top: 50px;
}

.attractionCard {
    width: 250px;
    height: 150px;
    padding: 20px; 
}

.devCards {
    margin: 0 auto;
    background-color: #B2EBF2;
    width: 100%;
    padding: 50px;
}

.demo-list-item {
    width: 300px;
}

li.list-group-item.mdl-list__item.listItems:hover {
    background-color: #F2F2F2;
}

.alert-danger {
    display: none;
}

.alert-danger.active {
    display: block;
}

.materialList {
    padding: 40px;
}

.eventDates {
    color: gray;
    text-align: center;
}

.bottom {
    overflow: auto;
    position: relative;
    z-index: 5;
    float: right;
    background-color: white;
    width: 35%;
    height: 100%;
}

.mapRender {
    width: 65%;
    padding-right: 300px;
    height:100vh;
    float: left;
}

.mapMain {
    height:100vh;
    overflow: hidden;
}

dialog.mdl-dialog {
    width: 60%;
}

/*Mobile*/
@media (max-width: 1146px) {
    .mainbox {
        margin-top: 150px;
    }

    .container.topCards {
        margin-top: 250px;
    }
}
a,.mdl-accordion,.mdl-button,.mdl-card,.mdl-checkbox,.mdl-dropdown-menu,.mdl-icon-toggle,.mdl-item,.mdl-radio,.mdl-slider,.mdl-switch,.mdl-tabs__tab{-webkit-tap-highlight-color:transparent;-webkit-tap-highlight-color:rgba(255,255,255,0)}